PORT=3000
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176

MS_AUTH_HOST=localhost
MS_AUTH_PORT=3001

MS_REGISTER_HOST=localhost
MS_REGISTER_PORT=3002

MS_ADMIN_HOST=localhost
MS_ADMIN_PORT=3003

MS_GAMIFY_HOST=localhost
MS_GAMIFY_PORT=3004
